<div class="results text-center">
  <h3 ><em><%= @word %></em> appears <%= @count %> times in </h3>
  <h4 class="justify"><%= @text %></h4>
</div>
<a href="/reload"><button class="btn btn-default">Do Another</button></a>
